h1, h2, h3{
    text-align: center;
    
}
.container{
    width: 90%;
    padding: 20px 0;
    margin: 20px auto;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1);
      
}
.formAgregar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    
}

.formAgregar  input[type="text"],
.formAgregar  input[type="email"],
.formAgregar  input[type="number"]{ /* Este estilo toma todos los input de tipo text y email*/
    width: 48%;
    margin-bottom: 25px;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    font-size: 17px;
}

input[type="submit"]{ /*Botones de header y sobre mi*/
    font-size: 14px;
    color: #fff;
    background: #205454;
    width: 160px;
    margin: 0 auto;
    padding: 20px;
}

.divFile{
    display: flex;
    border-bottom: 1px solid #5cb8ff;
    align-items: center;
    width: 48%;
}

.file{
    padding-top: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus{ /* Este estilo toma todos los input de tipo text y email*/
    border-bottom: 1px solid #1e7d7d;
}


.containerTwo{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 20px auto;
}

.card{
    width: 430px; 
    min-height:  750px;
    margin: 20px;
    box-shadow: 0 .46875rem 2.1875rem rgba(90,97,105,.1),0 .9375rem 1.40625rem rgba(90,97,105,.1),0 .25rem .53125rem rgba(90,97,105,.12),0 .125rem .1875rem rgba(90,97,105,.1)
}

.images{
   width: 100%;
   height: 300px;
}

.row{
    width: 100%;
    padding: 10px 0;
    text-align: center;
}
.file{
    display: block;
    margin: 10px auto;
}
.labelsContact{
    color: #1e7d7d;
}
.buttonUpdate{
    display: block;
    margin: 0 auto;
   
    padding:  5px 30px;
}

.card input[type="text"],
.card input[type="email"],
.card input[type="number"]{ /* Este estilo toma todos los input de tipo text y email*/
    padding-top: 20px;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    
}

.card input[type="text"]:focus, .card input[type="email"]:focus, .card input[type="number"]:focus{ /* Este estilo toma todos los input de tipo text y email*/
    border-bottom: 1px solid #1e7d7d;
}

/* Quitar flechas a input type number*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}

.card input[type="submit"]{ /*Botones de header y sobre mi*/
    display: block;
    width: 170px;
    padding: 14px 24px;
    margin: 10px auto;
}

.card .divFile{
    width: 90%;
    margin: 0 auto;
}

.buttonsActions{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#Eliminar{ /*Botones de header y sobre mi*/
    font-size: 14px;
    color: #fff;
    background: #205454;
    padding: 14px 24px;
    display: inline-block; /* Para que tome propiedades tambien de block para darle un tamaño definido*/
    width: 130px;
    text-decoration: none; /* Quitamos subrayado*/
    text-align: center;
    margin: 10px auto;
}
.formQuery{
    text-align: center;
}
.itemQuery{
    width: 30%;
    padding: 20px 0;
    margin: 20px;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
    background-color: white;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 15px;
    color: grey;
}

.formQuery input[type="text"]{ /* Este estilo toma todos los input de tipo text y email*/
    width: 30%;
    padding: 20px 0;
    margin: 20px;
    border: 0;
    border-bottom: 1px solid #5cb8ff;
   
}